{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100 text-center">
            <div class="col-12 col-md-5 my-auto mx-auto ">
                <h1 class="display-5 text-white logo-font" > <strong>SOBRE NOSOTROS</strong></h1>
                <h4 class="my-5 text-white">
                    <p>
                        Concepto Interio  es una pequeña empresa de muebles con sede en Morelia, Michoacan.
                    </p>
                    <p>
                        Todos nuestros productos están diseñados y producidos por nosotros. Nuestro principal objetivo es crear productos de alta calidad con un diseño muy esencial y funcional.
                        Nuestros muebles tienen un estilo minimalista y son extremadamente fáciles de montar. Solo trabajamos con materiales de primera calidad.
                        <br>
                        Si quieres buena calidad pero no estás dispuesto a gastar mucho dinero, Concepto Interior es la tienda para ti! 
                    </p>    
                </h4>
            </div>   
        </div>
    </div>
{% endblock %}