{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100 text-center">
            <div class="col-12 col-md-5 my-auto mx-auto ">
                <h1 class="display-5 text-white logo-font" > <strong>Contactanos</strong></h1>
                <h4 class="my-5 text-white">
                    <p>
                        Nuestra prioridad es la satisfacción del cliente
                    </p>
                    <p>
                        Si tienes problemas con la compra o simplemente quieres mas informaciones sobre nostros no dudes
                       en ponerte en contacto con nostros al correo conceptointeriormx@gmail.com
                    </p>      
                </h4>
            </div>   
        </div>
    </div>
{% endblock %}