<div id="preorders-section" class="col">
     {% if preorders.all or oxxo_orders.all %}
        <div class="order-history table-responsive">
            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th class="d-none d-sm-table-cell">Fecha</th>
                        <th class="d-none d-sm-table-cell">Productos</th>
                        <th class="d-none d-sm-table-cell">Total</th>
                        <th >Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in preorders %}
                        <tr>
                            <td>
                                <a href="" data-toggle="modal" data-target="#preorder-{{order.id}}">
                                    <i class="fab fa-paypal fa-lg"></i>
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td class="d-none d-sm-table-cell">{{ order.date }}</td>
                            <td class="d-none d-sm-table-cell">
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {{ item.product.name }}*{{ item.quantity }},
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="d-none d-sm-table-cell">€ {{ order.grand_total }}</td>
                            <td>
                                <span>Pendiente</span>
                                <span>
                                    <a href="" data-toggle="modal" data-target="#confirm-order-{{order.id}}">
                                        <i class="fas fa-level-up-alt"></i>
                                    </a>
                                    <a href="" data-toggle="modal" data-target="#delete-order-{{order.id}}">
                                        <i class="fas fa-level-down-alt"></i>
                                    </a>                                    
                                </span>
                            </td>
                        </tr>
                        {% include 'products/includes/modal_window_preorder.html' %}
                    {% endfor %}
                    {% for order in oxxo_orders %}
                        <tr>
                            <td>
                                <a href="" data-toggle="modal" data-target="#preorder-{{order.id}}">
                                    <i class="fa fa-qrcode fa-lg" aria-hidden="true"></i>
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td class="d-none d-sm-table-cell">{{ order.date }}</td>
                            <td class="d-none d-sm-table-cell">
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {{ item.product.name }}*{{ item.quantity }},
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="d-none d-sm-table-cell">€ {{ order.grand_total }}</td>
                            <td>
                                <span>Pendiente</span>
                            </td>
                        </tr>
                        {% include 'products/includes/modal_window_preorder.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p> No tienes reservas en espera de ser confirmadas</p>
    {% endif %}
</div>