{% load checkout_tools %}
    <table class="table table-borderless table-sm mw-100 text-wrap">
        <tbody>
            <tr>
                <td class="text-center d-none d-md-block" ><strong>Confirmación</strong></td>
                <td class="text-left text-md-center text-wrap confirmation-number">{{ order.order_number }}</td>
            </tr>
            <tr>
                <td class="text-center d-none d-md-block" ><strong>Fecha</strong></td>
                <td class="text-left text-md-center ">{{ order.date }}</td>
            </tr>

            <tr>
                <td class="text-center d-none d-md-block"><strong>Tu pedido</strong></td>
                <td class="text-left text-md-center ">
                    {% for item in order.lineitems.all %}
                        {{ item.product.name }} * {{ item.quantity }}, 
                    {% endfor  %}                   
                </td>
            </tr>
             <tr>
                <td class="text-center d-none d-md-block"><strong> Total</strong></td>
                <td class="text-left text-md-center ">
                    $ {{order.grand_total}}                  
                </td>
            </tr>
            <tr>
                <td class="text-center d-none d-md-block" ><strong>Dirección</strong></td>
                <td class="text-left text-md-center ">
                    <p class="d-md-none"><strong>Dirección</strong></p>
                    <p>{{ order.full_name }}</p>
                    <p>{{ order.street_address1 }}</p>
                    {% if order.street_address2 %}
                        <p>{{ order.street_address2 }}</p>           
                    {% endif %}
                    {% if order.street_county %}
                        <p>{{ order.street_county }}</p>           
                    {% endif %}
                    <p>{{ order.town_or_city }}</p>
                    {% if order.street_postcode %}
                        <p>{{ order.street_postcode }}</p>           
                    {% endif %}
                    <p>{{ order.country }}</p>
                </td>
            </tr>
            <tr>
                <td class="text-center d-none d-md-block" ><strong>Contacto</strong></td>
                <td class="text-left text-md-center ">
                    <p class="d-md-none"><strong>Contacto</strong></p>
                    <p>{{ order.email }} / {{ order.phone_number }}</p>
                </td>
            </tr>
        </tbody>
    </table> 
