<fieldset class="rounded px-3 mb-5">
    <legend class="fieldset-label small text-black px-2 w-auto ">Contacto</legend>
    {{ order_form.full_name | as_crispy_field }}
    {{ order_form.email | as_crispy_field }}
</fieldset>
<fieldset class="rounded px-3 mb-5">
    <legend class="fieldset-label small text-black px-2 w-auto">Dirección</legend>
    {{ order_form.phone_number | as_crispy_field }}
    {{ order_form.street_address1 | as_crispy_field }}
    {{ order_form.street_address2 | as_crispy_field }}
    {{ order_form.town_or_city | as_crispy_field }}
    {{ order_form.postcode | as_crispy_field }}
    {{ order_form.county | as_crispy_field }}
    {{ order_form.country | as_crispy_field }}
    <div class="form-check form-check-inline float-right mr-0 ">
            {% if user.is_authenticated %}
                <label class="form-check-label" for="id-save-info">Guarda la dirección en mi perfil</label>
                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
            {% else %}
                <label class="form-check-label" for="id-save-info">
                    <a href="{% url 'account_signup' %}">Crea tu cuente</a> o
                    <a href="{% url 'account_login' %}">haz login</a> para guardar la informacion
                </label>
            {% endif %}
    </div>
</fieldset>
