<p class="logo-font bg-white text-black py-1 text-center">Tu cesta ({{ product_count }})</p>
<div >
    {% for item in bag_items %}
        <div class="row text-center">
            <div class="col-6 my-1 text-right">
                {% if item.product.image_one %}
                    <img class="w-100" src="{{ item.product.image_one.url }}" alt="{{ item.product.name }}">
                {% else %}
                     <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">          
                {% endif %}            
            </div>
            <div class="col-6 text-left">
                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                <p class="my-0 small text-muted">Cantidad: {{ item.quantity }}</p>
            </div>
        </div>
    {% endfor %}
</div>
