{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid" >
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class=" top-title logo-font ">{{ product.name }}</h2>
                <div class="text-muted ">€{{ product.price }}</div> 
                {% if request.user.is_superuser %}
                    <div class=" mx-2">
                        <span> 
                            <a href="" data-toggle="modal" data-target="#delete-product-{{product.id}}">
                                <i class="fas fa-trash text-color-pr mx-2 " alt="delete"></i>
                            </a>
                        </span>
                        <span>
                            <a href="{% url 'edit_product' product.id%}" >
                                <i class="fas fa-pencil-alt text-color-pr mx-2" alt="edit"></i>
                            </a>
                        </span>
                    </div>
                    
                {% endif %}
                
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row  d-flex">
                    <div class=" col-12 col-md-6 col-lg-4 offset-lg-2 ">
                        <div class="image-container my-5  ">
                            <div class="row mx-auto ">
                                {% if product.image_one %}
                                    <a id="main-pic" href="{{ product.image_one.url }}" target="_blank">
                                        <img class="card-img-top img-fluid  " src="{{ product.image_one.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                {% endif %}                              
                            </div>
                            <div class="row mt-3 mx-auto">
                                <div class="col-4 carr" id="thumbnail_one">
                                    {% if product.image_one %}
                                        <a href="{{ product.image_one.url }}" target="_blank">
                                            <img class="card-img-top img-fluid  " src="{{ product.image_one.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %} 
                                </div>
                                <div class="col-4 carr" id="thumbnail_two">
                                    {% if product.image_two %}
                                        <a href="{{ product.image_two.url }}" target="_blank">
                                            <img class="card-img-top img-fluid  " src="{{ product.image_two.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %} 
                                </div>
                                <div class="col-4 carr" id="thumbnail_three">
                                    {% if product.image_three %}
                                        <a href="{{ product.image_three.url }}" target="_blank">
                                            <img class="card-img-top img-fluid  " src="{{ product.image_three.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %}                                     
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 offset-lg-1 ">
                        <div class="product-details-container my-5">   
                            <hr class="hr-color-pr mb-0">
                            <p class=" mx-auto mt-2 pt-0 ">{{ product.description }}</p>
                            <strong class="mt-5">Medidas:</strong>
                            <ul>
                                <li>Alto:{{product.h}} cms</li>
                                <li>Ancho:{{product.w}} cms</li>
                                <li>Largo:{{product.l}} cms</li>
                            </ul>
                            <small class="text-muted">
                                <i class="fas fa-truck mr-1"></i>
                                Coste de envio $ {{shipping_cost}} por unidad
                            </small>
                            {% if request.user.is_superuser%}
                            {% else %}
                                <div class="mt-5">
                                    {% include 'products/includes/quantity_form.html' %}
                                </div>
                            {% endif %}
                            
                            <div class=" mt-5">
                                <a href="{% url 'products' %}" class=" btn btn-outline-pr rounded-0 btn-lg ">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Atras</span>
                                </a>
                            </div>
                        </div>     
                    </div>
                                                       
                </div>
                
            </div>
        </div>
    </div>
    {% include 'products/includes/modal_window.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super}}
{% include 'products/includes/quantity_input_script.html' %}
{% include 'products/includes/image_script.html' %}
{% endblock %}
